<!-- BEGIN #trending-items -->
<div id="trending-items" class="section-container">
    <!-- BEGIN container -->
    <div class="container">
      <!-- BEGIN section-title -->
      <h4 class="section-title clearfix">
        <span class="flex-1">
          Trending Items
        <small>Shop and get your favourite items at amazing prices!</small>
        </span>
        <div class="btn-group">
          <a href="#" class="btn"><i class="fa fa-angle-left fs-16px"></i></a>
          <a href="#" class="btn"><i class="fa fa-angle-right fs-16px"></i></a>
        </div>
      </h4>
      <!-- END section-title -->
      <!-- BEGIN row -->
      <div class="row gx-2">
        <!-- BEGIN col-2 -->
        <div class="col-lg-2 col-md-4 col-sm-6">
          <!-- BEGIN item -->
          <div *ngFor="let producto of productos" class="item item-thumbnail">
            <a href="product_detail.html" class="item-image">
              <img src="./assets/img/product/product-iphone.png" alt="" />
              <div class="discount">15% OFF</div>
            </a>
            <div class="item-info">
              <h4 class="item-title">
                <a href="product_detail.html">{{ producto.titulo }}<br />16GB</a>
              </h4>
              <p class="item-desc">3D Touch. 12MP photos. 4K video.</p>
              <div class="item-price">$649.00</div>
              <div class="item-discount-price">$739.00</div>
            </div>
          </div>
          <!-- END item -->
        </div>
        <!-- END col-2 -->
      </div>
      <!-- END row -->
    </div>
    <!-- END container -->
  </div>
  <!-- END #trending-items -->