<!-- BEGIN #page-container -->
<div id="page-container" class="fade show">

  <!-- BEGIN #header -->
  <div id="header" class="header">
    <!-- BEGIN container -->
    <div class="container">
      <!-- BEGIN header-container -->
      <div class="header-container">
        <!-- BEGIN navbar-toggle -->
        <button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- END navbar-toggle -->
        <!-- BEGIN header-logo -->
        <div class="header-logo">
          <a href="index.html">
            <span class="brand-logo"></span>
            <span class="brand-text">
              <span>Color</span>Admin
              <small>e-commerce frontend theme</small>
            </span>
          </a>
        </div>
        <!-- END header-logo -->
        <!-- BEGIN header-nav -->
        <div class="header-nav">
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav justify-content-center">
              <li class="active"><a href="index.html">Home</a></li>
              <li class="dropdown dropdown-full-width dropdown-hover">
                <a href="#" data-bs-toggle="dropdown">
                  Our Store 
                  <b class="caret"></b>
                  <span class="arrow top"></span>
                </a>
              </li>
              <li class="dropdown dropdown-hover">
                <a href="#" data-bs-toggle="dropdown">
                  Accessories 
                  <b class="caret"></b>
                  <span class="arrow top"></span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="product.html">Mobile Phone</a>
                  <a class="dropdown-item" href="product.html">Tablet</a>
                  <a class="dropdown-item" href="product.html">TV</a>
                  <a class="dropdown-item" href="product.html">Desktop</a>
                  <a class="dropdown-item" href="product.html">Laptop</a>
                  <a class="dropdown-item" href="product.html">Speaker</a>
                  <a class="dropdown-item" href="product.html">Gadget</a>
                </div>
              </li>
              <li><a href="product.html">New Arrival</a></li>
              <li class="dropdown dropdown-hover">
                <a href="#" data-bs-toggle="dropdown">
                  Pages
                  <b class="caret"></b>
                  <span class="arrow top"></span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="index.html">Home (Default)</a>
                  <a class="dropdown-item" href="index_fixed_header.html">Home (Fixed Header)</a>
                  <a class="dropdown-item" href="index_inverse_header.html">Home (Inverse Header)</a>
                  <a class="dropdown-item" href="search_results.html">Search Results</a>
                  <a class="dropdown-item" href="product.html">Product Page</a>
                  <a class="dropdown-item" href="product_detail.html">Product Details Page</a>
                  <a class="dropdown-item" href="checkout_cart.html">Checkout Cart</a>
                  <a class="dropdown-item" href="checkout_info.html">Checkout Shipping</a>
                  <a class="dropdown-item" href="checkout_payment.html">Checkout Payment</a>
                  <a class="dropdown-item" href="checkout_complete.html">Checkout Complete</a>
                  <a class="dropdown-item" href="my_account.html">My Account</a>
                  <a class="dropdown-item" href="contact_us.html">Contact Us</a>
                  <a class="dropdown-item" href="about_us.html">About Us</a>
                  <a class="dropdown-item" href="faq.html">FAQ</a>
                </div>
              </li>
              <li class="dropdown dropdown-hover">
                <a href="#" data-bs-toggle="dropdown">
                  <i class="fa fa-search search-btn"></i>
                  <span class="arrow top"></span>
                </a>
                <div class="dropdown-menu p-15px">
                  <form action="search_results.html" method="POST" name="search_form">
                    <div class="input-group">
                      <input type="text" placeholder="Search" class="form-control bg-light" />
                      <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- END header-nav -->
        <!-- BEGIN header-nav -->
        <div class="header-nav">
          <ul class="nav justify-content-end">
            <li class="dropdown dropdown-hover">
              <a href="#" class="header-cart" data-bs-toggle="dropdown">
                <i class="fa fa-shopping-bag"></i>
                <span class="total">2</span>
                <span class="arrow top"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-cart p-0">
                <div class="cart-header">
                  <h4 class="cart-title">Shopping Bag (1) </h4>
                </div>
                <div class="cart-body">
                  <ul class="cart-item">
                    <li>
                      <div class="cart-item-image"><img src="./assets/img/product/product-ipad.jpg" alt="" /></div>
                      <div class="cart-item-info">
                        <h4>iPad Pro Wi-Fi 128GB - Silver</h4>
                        <p class="price">$699.00</p>
                      </div>
                      <div class="cart-item-close">
                        <a href="#" data-bs-toggle="tooltip" data-bs-title="Remove">&times;</a>
                      </div>
                    </li>
                    <li>
                      <div class="cart-item-image"><img src="./assets/img/product/product-imac.jpg" alt="" /></div>
                      <div class="cart-item-info">
                        <h4>21.5-inch iMac</h4>
                        <p class="price">$1299.00</p>
                      </div>
                      <div class="cart-item-close">
                        <a href="#" data-bs-toggle="tooltip" data-bs-title="Remove">&times;</a>
                      </div>
                    </li>
                    <li>
                      <div class="cart-item-image"><img src="./assets/img/product/product-iphone.png" alt="" /></div>
                      <div class="cart-item-info">
                        <h4>iPhone 6s 16GB - Silver</h4>
                        <p class="price">$649.00</p>
                      </div>
                      <div class="cart-item-close">
                        <a href="#" data-bs-toggle="tooltip" data-bs-title="Remove">&times;</a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="cart-footer">
                  <div class="row gx-2">
                    <div class="col-6">
                      <a href="checkout_cart.html" class="btn btn-default btn-theme d-block">View Cart</a>
                    </div>
                    <div class="col-6">
                      <a href="checkout_cart.html" class="btn btn-dark btn-theme d-block">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <a href="my_account.html">
                <img src="./assets/img/user/user-1.jpg" class="user-img" alt="" /> 
                <span class="d-none d-xl-inline">Login / Register</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- END header-nav -->
      </div>
      <!-- END header-container -->
    </div>
    <!-- END container -->
  </div>
  <!-- END #header -->
  
  <!-- BEGIN #slider -->
  <div id="slider" class="section-container p-0 bg-dark">
    <!-- BEGIN carousel -->
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
      <!-- BEGIN carousel-inner -->
      <div class="carousel-inner">
        <!-- BEGIN item -->
        <div class="carousel-item active" data-paroller="true" data-paroller-factor="0.3" data-paroller-factor-sm="0.01" data-paroller-factor-xs="0.01" style="background: url(./assets/img/slider/slider-1-cover.jpg) center 0 / cover no-repeat;">
          <div class="container">
            <img src="./assets/img/slider/slider-1-product.png" class="product-img right bottom fadeInRight animated" alt="" />
          </div>
          <div class="carousel-caption carousel-caption-left">
            <div class="container">
              <h3 class="title mb-5px fadeInLeftBig animated">iMac</h3>
              <p class="mb-15px fadeInLeftBig animated">The vision is brighter than ever.</p>
              <div class="price mb-30px fadeInLeftBig animated"><small>from</small> <span>$2299.00</span></div>
              <a href="product_detail.html" class="btn btn-outline btn-lg fadeInLeftBig animated">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- END item -->
        <!-- BEGIN item -->
        <div class="carousel-item" data-paroller="true" data-paroller-factor="-0.3" data-paroller-factor-sm="0.01" data-paroller-factor-xs="0.01" style="background: url(./assets/img/slider/slider-2-cover.jpg) center 0 / cover no-repeat;">
          <div class="container">
            <img src="./assets/img/slider/slider-2-product.png" class="product-img left bottom fadeInLeft animated" alt="" />
          </div>
          <div class="carousel-caption carousel-caption-right">
            <div class="container">
              <h3 class="title mb-5px fadeInRightBig animated">iPhone X</h3>
              <p class="mb-15px fadeInRightBig animated">Say hello to the future.</p>
              <div class="price mb-30px fadeInRightBig animated"><small>from</small> <span>$1,149.00</span></div>
              <a href="product_detail.html" class="btn btn-outline btn-lg fadeInRightBig animated">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- END item -->
        <!-- BEGIN item -->
        <div class="carousel-item" data-paroller="true" data-paroller-factor="-0.3" data-paroller-factor-sm="0.01" data-paroller-factor-xs="0.01" style="background: url(./assets/img/slider/slider-3-cover.jpg) center 0 / cover no-repeat;">
          <div class="carousel-caption">
            <div class="container">
              <h3 class="title mb-5px fadeInDownBig animated">Macbook Air</h3>
              <p class="mb-15px fadeInDownBig animated">Thin.Light.Powerful.<br />And ready for anything</p>
              <div class="price fadeInDownBig animated"><small>from</small> <span>$999.00</span></div>
              <a href="product_detail.html" class="btn btn-outline btn-lg fadeInUpBig animated">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- END item -->
      </div>
      <!-- END carousel-inner -->
      <a class="carousel-control-prev" href="#main-carousel" data-bs-slide="prev"> 
        <i class="fa fa-angle-left"></i> 
      </a>
      <a class="carousel-control-next" href="#main-carousel" data-bs-slide="next"> 
        <i class="fa fa-angle-right"></i> 
      </a>
    </div>
    <!-- END carousel -->
  </div>
  <!-- END #slider -->

  <router-outlet></router-outlet>
  
  <!-- BEGIN #footer-copyright -->
  <div id="footer-copyright" class="footer-copyright">
    <!-- BEGIN container -->
    <div class="container">
      <div class="payment-method">
        <img src="./assets/img/payment/payment-method.png" alt="" />
      </div>
      <div class="copyright">
        Copyright &copy; 2021 SeanTheme. All rights reserved.
      </div>
    </div>
    <!-- END container -->
  </div>
  <!-- END #footer-copyright -->
</div>
<!-- END #page-container -->